@import 'global';
@import 'fonts';
@import 'vars';


.header {
    height: 100vh;
    position: relative;
}

.header__slider {
    &-item {
        height: 100vh;
        background-image: url(../images/header-background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }
}

.slider-item__info {
    position: absolute;
    right: 80px;
    bottom: 116px;
    text-align: right;

    &-text {
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 46px;
        margin-bottom: 20px;
    }

    &-title {
        margin-bottom: 48px;
    }

    &-subtittle {
        margin-bottom: 5px;
    }

    &-subtext {
        margin-bottom: 8px;
    }


}

.headline-left {
    position: relative;
    padding-left: 103px;
    display: inline-block;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 7.33333px;

    &::before {
        content: "";
        position: absolute;
        background-color: #fff;
        width: 80px;
        height: 1px;
        top: 50%;
        left: 0;
    }
}

.headline-right {
    position: relative;
    padding-right: 103px;
    display: inline-block;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 7.33333px;

    &::before {
        content: "";
        position: absolute;
        background-color: #fff;
        width: 80px;
        height: 1px;
        top: 50%;
        right: 0;
    }
}

.slider-arrows {
    position: absolute;
    top: 40px;
    right: 80px;
    cursor: pointer;
    z-index: 4;
}

.slider-arrows__left {
    right: 125px;
}

.slider-dotshead {
    position: absolute;
    right: 50px;
    bottom: 36px;
    max-width: 920px;
    width: 100%;

    .slick-current {
        .dots-box {
            border-color: $aqua;
        }
    }
}

.dots-box {
    width: 200px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid #fff;
    padding-top: 6px;

    &__number {
        font-size: 24px;
        font-weight: 800;
        line-height: 34;
    }

    &__name {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }
}


.header__aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-right: 1px solid rgba(#fff, .25);
    height: 100vh;
    text-align: center;
}

.logo {
    margin-bottom: 128px;
}

.header__tittle {
    max-width: 467px;
    font-size: 200px;
    line-height: 156px;
    opacity: 0.07;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;

}

.menu {
    padding-top: 40px;

    a {
        color: #fff;

        span {
            display: block;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 3px;
            font-weight: 500;
            padding-top: 6px;
            margin-bottom: 20px;
        }
    }


}

.header__search {
    padding-top: 15px;
    margin-bottom: 20px;
}

.header__date {
    font-size: 72px;
    line-height: 64px;
    font-weight: 800;

    span {
        padding-top: 15px;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 30px;
        letter-spacing: 1.4px;
        display: block;
    }
}

.header__loacation {
    display: inline-block;
    font-size: 12px;
    position: relative;
    font-weight: 300;
    letter-spacing: 1.05px;
    line-height: 14px;
    padding-left: 19px;

    &::before {
        content: "";
        position: absolute;
        width: 11px;
        height: 13px;
        background-image: url(../images/mape-marker.svg);
        top: 0;
        left: 0;
    }
}

.header__map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

.header__arrows {
    position: absolute;
    left: 210px;
    bottom: 40px;
    z-index: 3;
}

.line-animation {
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    animation: animdash 5s infinite 6s;
}

@keyframes animdash {
    to {
        stroke-dashoffset: 0;
    }
}


//start surf
.surf {
    background-image: url(../images/surf-side.png);
    background-position: right 200px;
    background-repeat: no-repeat;
    background-size: auto;
}

.surf__title,
.title {
    span {
        font-weight: 800;
        font-size: 200px;
        color: rgba(#fff, 0.02);
        text-transform: uppercase;
        position: relative;
        transform: translateX(-20%);
        display: inline-block;
    }

    h2 {
        color: #fff;
        position: absolute;
        top: 0;
        right: -5px;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 80px;
            height: 1px;
            background-color: $aqua;
        }
    }
}

.subtitle__box {
    text-align: right;
    padding-right: 80px;
    margin-top: -86px;
}

.subtitle {
    display: inline-block;
    text-align: right;

    &__head {
        padding-right: 10px;

        span {
            font-weight: 100;
        }
    }
}

.surf-box {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
        min-height: 750px;
        background: rgba(#1c2121, .85);
        position: relative;
        transition: all .5s;

        &:hover {
            background: rgba(#1c2121, .03);

            .surf-box__inner-btn {
                display: block;
            }

        }

    }

    &__inner-title {
        padding: 72px 0 0 40px;
        line-height: 36px;
        width: 140px;
    }

    &__inner-location {
        line-height: 22px;
        letter-spacing: 8px;
        text-transform: uppercase;
        transform: rotate(-90deg);
        position: absolute;
        left: 40px;
        bottom: 80px;
        width: 0;
        height: 0;
        white-space: nowrap;

        span {
            font-weight: 100;
        }
    }

    &__inner-btn {
        position: absolute;
        text-transform: uppercase;
        text-align: center;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
    }
}

.surf-slider {
    padding-top: 110px;

    .slider-arrows {
        top: 50px;
        opacity: 0.25;
    }

    .slick-slide:nth-child(4n + 1) {
        .surf-box {
            margin-top: 32px;
        }
    }

    .slick-slide:nth-child(4n + 3) {
        .surf-box {
            margin-top: 89px;
        }
    }

    .slick-current {
        .surf-box__inner-btn {
            display: block;
        }

        .surf-box__inner {
            background: rgba(#1c2121, .03)
        }
    }
}

.slider-map {
    max-width: 1200px;
    min-height: 635px;
    background-image: url(../images/world-map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;

    .slick-list {
        min-height: 635px;
    }

    .slick-current {
        .slider-dots__content {
            display: block;
            width: 285px;
            padding: 28px 31px 0px 32px;
        }

        .slider-dots__circle {
            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-bottom: 20px solid $aqua;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                bottom: 15px;


            }
        }
    }
}

.slider-dots__content-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.slider-dots__content-item {
    text-align: center;

    img {
        margin-bottom: 7px;
    }
}

.slider-dots__content-number {
    font-weight: 800;
    font-size: 16px;
    line-height: 23px;
}

.slider-dots__content-name {
    text-transform: uppercase;
    line-height: 12px;
    font-size: 10px;
}

.slider-dots__content-title {
    font-weight: 800;
    line-height: 26px;
    text-transform: uppercase;
    padding-bottom: 8px;
    margin-bottom: 8px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-color: $aqua;
        width: 80px;
        height: 1px;
        bottom: 0;
        left: 0;
    }
}

.slider-dots__content-subtitle {
    font-size: 16px;
    line-height: 19px;
}

.slider-dots__content-link {
    padding-top: 4px;
}

.slider-dots {
    position: relative;

    &__circle {
        width: 23px;
        height: 23px;
        background-color: $aqua;
        border-radius: 50%;
    }

    &__content {
        display: none;
        position: absolute;
        background: rgba(#0f1010, 0.7);
        border-radius: 6px;
        bottom: 35px;
        transform: translateX(-50%);

    }
}

.slider-dots--1 {
    top: 335px;
    left: 0;

    .slider-dots__content {
        transform: translateX(0);

    }
}

.slider-dots--2 {
    top: 270px;
    left: 0;

    .slider-dots__circle {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-image: url(../images/mini-marker.png);
            width: 14px;
            height: 17px;
            background-size: cover;
            right: -15px;
            top: -20px;
        }
    }
}

.slider-dots--3 {
    top: 330px;
    left: 25px;
}

.slider-dots--4 {
    top: 470px;
    left: -25px;
}

.slider-dots--5 {
    top: 230px;
    left: -65px;
}

.slider-dots--6 {
    top: 550px;
    left: -120px;
}

.slider-dots--7 {
    top: 375px;
    left: -95px;
}

.slider-dots--8 {
    top: 470px;
    left: 35px;

    .slider-dots__content {
        transform: translateX(-262px);

    }
}

//end section surf

//start section travel
.holder {
    background-image: url(../images/cocktail.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    .slider-arrows{
        top: 147px;
        opacity: .5;
    }
}

.holder-slider {
    &__head {
        background-repeat: no-repeat;
        background-position: top left;
        min-height: 780px;
    }

    &__description {
        padding: 160px 0px 0px 132px;
        min-height: 320px;
        background-repeat: no-repeat;
        background-position: center right;
        margin-top: -230px;
        img {
            padding-left: 24px;
        }
        .description__head{
            position: relative;
            padding-right: 215px;
            img{
                position: absolute;
                right: 140px;
                top: 0;
            }
            .holder__star-list{
                position: absolute;
                right: 0;
                top: 0;
                li{
                    display: inline-block;
                    margin-left: -25px;                                                    
                }
                img {
                    position: static;
                    padding-left: 0;
                }
            }
        }
    }

    &__subtitle {
        text-align: right;
        padding-top: 132px;
    }

    &__btn {
        text-align: center;

    }
}

.holder-slider__info {
    display: flex;
    justify-content: space-around;
    padding-top: 75px;

    &-item {
        min-height: 200px;
        margin-bottom: 66px;
        position: relative;
    }

    &-subtitle {
        line-height: 22px;
        letter-spacing: 8px;
        opacity: 0.5;
        transform: rotate(-90deg);
        position: absolute;
        top: 97px;
        left: -97px;
        width: 200px;
        height: 0;
        text-transform: uppercase;
        white-space: nowrap;
        text-align: right;
    }

    &-title {
        padding-left: 40px;       
        position: relative;
        span {           
            font-size: 14px;
            line-height: 36px;
            text-align: right;
            letter-spacing: 5.25px;
            text-transform: uppercase;
            opacity: 0.75;
            font-weight: 400;
            position: absolute;
            right: 0;
            bottom: -19px;
        }
    }
}

//end travel

//start sleep

@import 'media';